body{
    width: 99.9%;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(-31deg, #33260f, #1e5034, #df7f31, #bd2571) repeat;
    background-size: 350% 200%;
    height: 1px;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 95% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container{
    padding: 0;
    min-width: 100%;
    min-height:100vh;
    /* background: linear-gradient(-45deg, #449944, #444, #945a2b, #222222);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;     */
 }
 .topBarOut{
    display: flex;
    justify-content: center;
}
.mobile-topBar{
    display:none;
}
.topBar{
    z-index:5;
    min-height: 100px;
    position: absolute;
    width: 100%;
    color: white;
    padding: 8px;
    height: fit-content;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border: black solid 1px; */
    background: transparent;
    border-bottom: 2px solid rgba(255,255,255,.10)
    /* background: linear-gradient(to bottom, black 0, rgb(129, 127, 127) 50%, black 100%); */
}
.topBar.flip{
    background: #111111;
    box-shadow: 0 0 15px 3px black;
    position: fixed;
    animation: flip .75s;
    transition: all .75s;
    opacity: 1;
}
.topBar.flip .buttonList .button:hover,
.topBar.flip .topRight .button:hover{
    color: rgb(20, 220, 210);
    text-shadow: 0 0 25px rgb(20, 220, 210)
}


@keyframes flip{
    0%{
        transform: perspective(3px) rotate3d(1,0,0,90deg);
        animation-timing-function: ease-in;
        background: transparent;
        opacity:0.3;
    }
    40%{
        transform: perspective(100px) rotate3d(1,0,0,-90deg);
    }
    60%{
        transform: perspective(200px) rotate3d(1,0,0,25deg);
        opacity: 0.6;
        background: transparent;
    }
    80%{
        transform: perspective(300px) rotate3d(1,0,0,-5deg);
        
    }
    100%{
        transform: perspective(400px);
        background: black;
        opacity: 1;
    }
}

.pageBanner{
    width: 100%;
    position: fixed;
    height:100vh;
    /* background:url(../css/images/forest2.jpg) no-repeat center center / cover; */
    background-attachment: fixed;   
    opacity: 0.45;
}
.hole{
    position: absolute;
    top:-20px;
    opacity: 0.6;
    height: 70px;
    width: 70px;
    background: border-box;
    border-radius: 50%;
    /* background-image: radial-gradient(circle at center, black 0%, #444 38%, white 39%, transparent 54%); */
    /* box-shadow: 12px 0px 25px; */
    animation: holeFadeIn 8s infinite;
}

@keyframes holeFadeIn{
    0%{
        opacity:0;
        box-shadow: 0px 0px 0px darkcyan;
    }
    20%{
        opacity:0.6;
        box-shadow: 12px 0px 25px cyan;
    }
    70%{
        opacity:0.6;
        box-shadow: 12px 0px 25px cyan;
    }
    100%{
        opacity:0;
        box-shadow: 0px 0px 0px cyan;
    }
}


.topLeft{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.logo{
    font-size: 22px;
    text-shadow: 0 0 25px cyan;
    color: white;
    font-family: 'Varela Round', sans-serif;
    z-index: 2;
    animation: mist 6s;
    transition: all .6s
}

@keyframes mist{
    0%{
        opacity:0;
        color: transparent;
        text-shadow: 0 0 14px white;
    }
    15%{
        opacity: 1;
        text-shadow: 0 0 10px white;
        color: transparent;
    }

    95%{
        text-shadow: 0 0 1px white;
    }
    100%{
        text-shadow: 0 0 25px cyan;
        color: white;
    }
}
.fa-sign-out-alt{
    align-self: center;
    font-size: 25px;
}

.secretWorld{
    padding-left: 30px;
}

.topRight{
    display: flex;
    justify-content: space-evenly;
    padding-left: 80px;
}
.buttonList{
    display: flex;
    justify-content: space-evenly;
}
.button:hover {
    color: black;
    text-shadow: 0 0 25px white;
    transition: all .5s;
    cursor: pointer;
}

/* --------------- FORM ----------------------------*/

 /* .form-container{
    display: flex;
    justify-content: center;
}
.google {
    display: block;
    width: 80px;
    margin: 20px auto;
    box-shadow: 0 5px 10px -7px #333333;
    border-radius: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 0;
    height:0;
    
    padding: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px -3px #333;
    text-align: center;
    visibility: hidden;
    position: fixed;
    top: -30%;
    opacity:0;
    transition: all 0.6s;
  }
  .form.active{
    height: 495px;
    width: 500px;
    opacity:1;
    visibility: visible;
    
    top:18%;
    position: fixed;
    transition: all 0.6s;
  }
  

  .email, .password {
    border-radius: 100px;
    padding: 10px 15px;
    width: 50%;
    border: 1px solid #D9D9D9;
    outline: none;
    display: block;
    margin-top: 15px;
  }
.googleLogin {
    border-radius: 100px;
    border: none;
    background: #719BE6;
    width: 50%;
    padding: 10px;
    color: #FFFFFF;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px #719BE6;
    display: block;
    margin: 20px 0 0 0;
  }
  
  a {
    text-align: center;

    color: #719BE6;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
  }
  
  a:hover {
    text-decoration: underline;
  } */

/* ---------------END OF FORM ----------------------------*/

.button{
    padding: 3px;
}


.quotes{
    font-family: 'Alex Brush', cursive;
    font-size: 42px;
    color: white;
    text-shadow: 0 0 15px white;
    display:flex;
    justify-content:center;
    margin: 10px 0;
    animation: fadeIn 3s ease;
}
.author{
    height: 40vh;
    display: flex;
    justify-content:flex-end;
    color: white;
    position: relative;
    font-size: 20px;
    right:40px;
    animation: fadeIn 6s ease;
}
@keyframes fadeIn{
    0%{
        opacity:0
    }
    50%{
        opacity:0;
    }
    100%{
        opacity:1
    }
}

.formHole{
    position: absolute;
    top:32px;
    left:43%;
    opacity: 0.6;
    height: 70px;
    width: 70px;
    background: border-box;
    border-radius: 50%;
    /* background-image: radial-gradient(circle at center, black 0%, #444 38%, white 39%, transparent 54%); */
    /* box-shadow: 12px 0px 25px; */
    animation: FormholeFadeIn 6s infinite;
}
.formLogo{
    position: relative;
    top:-8px;
    margin: 30px;
    font-size: 22px;
    color: white;
    text-shadow: 0 0 5px black;
    font-family: 'Varela Round', sans-serif;
    z-index: 2;
}
@keyframes FormholeFadeIn{
    0%{
        opacity: 0;
        box-shadow: 0px 0px 0px white;
    }
    35%{
        opacity:0.6;
        box-shadow: 12px 0px 13px black;
    }
    100%{
        opacity:0;
        box-shadow: 0px 0px 0px black;
    }
}

.container2{
    top: 101px;
    position: relative;
    height: 100px;
    margin:0;
    padding: 0;
    flex-wrap: unset;
    display: flex;
    justify-content: flex-start;
}
.mobile-friendButton{
    display:none;
    margin-left: 0;
}
.mobile-friendButton .friendList{
    background: linear-gradient(0deg, #222, #df7f31ee);
    top: 17vh;
    left: -155vw;
    /* visibility: hidden; */
    display: flex;
    /* opacity: 0; */
    padding: 0;
    width: 100%;
    border-right: 2px solid rgba(255,255,255,.10);
    color: white;
    min-height: 100%;
    max-height: fit-content;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    transition: all .8s;
}
.mobile-friendButton.active .friendList{
    /* visibility: visible; */
    left:0;
    /* opacity: 1; */
    transition: all .8s;
}
/* .container3{
    
    position: relative;
    height: 100px;
    margin:0;
    padding: 0;
    flex-wrap: unset;
    width: 100%;
    
} */

.friendList{
    min-width: 214px;
    padding: 0;
    width: 100%;
    border-right: 2px solid rgba(255,255,255,.10);
    color: white;
    min-height: 85vh;
    max-height: fit-content;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(at top right, transparent 44%, rgb(24, 13, 5));
}

.friends {
    min-width: 208px;
    overflow-y: scroll;
    height: calc(100vh - 165px);
    font-size: 17px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.friend {
    width: fit-content;
    margin: 5px;
    padding: 3px;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Syncopate', sans-serif;
    background-image: linear-gradient(to right, transparent, #111 , transparent);
    color: white;
    transition: all .6s ease-out;
    cursor: pointer;
}
.friend:hover {
    width: 100%;
    color: white;
    background-image: linear-gradient(to bottom, transparent, #888, transparent);
    transition: all .6s;
    text-shadow: 0 0 6px white;
    /* animation-delay: 1s; */
}
.friend.active {
    width: 100%;
    color: #222;
    background-image: linear-gradient(to bottom, transparent, #DDD, transparent);
    box-shadow: 0 0 20px white;
    transition: all .6s;
    text-shadow: 0 0 5px #222;
    animation: breathe 3.5s infinite;
    /* animation-delay: 1s     */
}
@keyframes breathe{
    10%{
        color: #222;
        text-shadow: 0 0 5px #222;
        
    }
    50%{
        color: #ddd;
        text-shadow: 0 0 5px #000;
        
    }
    100%{
        color: #222;
        text-shadow: 0 0 5px #222;
    }

}

/*------------------scroll bar-----------------*/
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    display:none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, rgb(20, 220, 210), transparent);
    border-radius: 15px;
  }
  /*------------end oF scroll bar--------------*/

  .content{
    background-image: radial-gradient(95% 85%, #DDD, transparent);
    /* left: 225px; */
    min-height: 96vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    /* position: absolute; */
    height: fit-content;
    padding: 0 18px;
}


.person{
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 50px 50px; 
    display: flex;
    min-height: 40vh;
    margin: 4px;
}
.picContainer {
    box-shadow: 0 0 10px black;
    max-width: 135px;
    background: border-box black;
    border-radius: 50%;
    height: 200px;
    min-width: 200px;
    margin-left: 5px;
    margin-right: 7px;
    display: flex;
    justify-content: center;
}
.profilePic {
    max-width: 100%;
    height: auto;
    border-radius: 25%;
    object-fit: contain;
    align-self: center;
    max-height: 142px;
}
.person-text{
    max-width: 810px;
    height: 183px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 60px;
    /* margin: 8px 0; */
    align-items: center;
    min-width: 198px;
}
#person-contact{
    height:100px;
    /* height: 183px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    /* padding-left: 60px; */
    /* margin: 8px 0; */
    align-items: center;
    min-width: 100%;
}
.person-info{
    padding: 0;
    font-family: 'Syncopate', sans-serif;
    text-shadow: 0 0 5px black;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding-left:105px;
}
.person-name.active, .person-location.active, .person-email.active, .person-password.active {
width: 60vw;
}

#style-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 89%;
    /* width: 100%; */
}

.editContent{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.editButton{
    font-size: 24px;
    display: flex;
    align-items:center;
}

.editButton i{
    font-size: 24px;
    opacity: 0.7;
    color: #444;
    top: 185px;
    cursor: pointer;
    transition: all .4s;
    box-shadow: inset 0 0 0 0px #444;
    padding: 6px;
    border-radius: 7px;
    background: white;
    transition: all .4s ease;
    margin-left: 13px;
    align-self: auto;
}

.saveButton{
    cursor: pointer;
    font-family: 'Syncopate', sans-serif;
    font-weight: 900;
    position: absolute;
    top: -50px;
    right: 0;
    margin: 10px 48px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 46px;
    color: white;
    border-radius: 10px;
    border: solid 1px lightgrey;
    visibility: hidden;
    opacity:0;
    transition: all .5s;
}
.saveButton.active{
    visibility: visible;
    top: 6px;
    opacity:1;
    transition: all .5s;
}
.saveButton:hover{
    color: white;
    border: none;
    background: linear-gradient(to bottom, #222, transparent, #222);
    box-shadow: 0 0 25px cyan, inset 0 0 12px 1px cyan;
    text-shadow: 0 0 7px cyan;
    transition: all .5s,
}


.person-name, .person-location, .person-email, .person-password{
    font-size: 18px;
    font-weight: 600;
    width: 0;
    padding: 5px 25px;
    height: 35px;
    border-radius: 20px;
    overflow: visible;
    white-space: nowrap;
    transition: all .6s
}

.editNickname:hover, .editHometown:hover,
.editEmail:hover, .editPassword:hover{
    box-shadow: inset 0 0 0 27px #444;
    color: #eee;
    transition: all .4s ease-out;
}
.editNickname.active, .editHometown.active,
.editEmail.active, .editPassword.active{
    text-shadow: 0 0 19px rgb(20,220,210);
    opacity: 1;
    color: white;
    box-shadow: inset 0 0 0 27px #444, inset 0 0 0 28px black, 0px 0px 33px white;
    transform: rotate(360deg);
    transition: all .4s ease-out;
    border-radius: 50%;
}

.person-name.active, .person-location.active, 
.person-email.active, .person-password.active{
    background: white;
    width: 420px;
    box-shadow: inset 0 0 8px 0px #222;
    justify-content: flex-start;
    display: flex;
    transition: all .6s
}

.avatarSet{
    align-self:center;
    display:flex;

}

.avatarEditButton i {
    font-size: 33px;
}
.avatarEditButton{
    opacity: 0.7;
    position: absolute;
    color: #444;
    top: 185px;
    cursor: pointer;
    transition: all .4s;
    box-shadow: inset 0 0 0 0px #444;
    padding: 9px;
    border-radius: 9px;
    background: white;
    transition: all .4s ease;
}

.avatarEditButton:hover{
    top: 182px;
    box-shadow: inset 0 0 0 27px #444;
    /* text-shadow: 0 0 8px cyan; */
    color: #eee;
    transition: all .4s ease-out;
}
.avatarEditButton.active{
    text-shadow: 0 0 19px rgb(20,220,210);
    opacity: 1;
    color: white;
    box-shadow: inset 0 0 0 27px #444, inset 0 0 0 28px black, 0px 0px 33px white;
    transform: rotate(360deg);
    transition: all .4s ease-out;
    border-radius: 50%;
}

.avatarlist{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 27vh;
    left: 34vh;
    padding: 8px;
    display: flex;
    border-radius: 35px;
    flex-wrap: wrap;
    box-shadow: 0px 9px 25px black, inset 0 0 13px black;
    visibility: hidden;
    opacity:0;
    z-index: -1;
    transition: all 1s;
}

.avatarEditButton.active ~ .avatarlist{
    background:#ddd9;
    z-index: 1;
    visibility: visible;
    width: 520px;
    height: 229px;
    position: absolute;
    top: 39vh;
    left: 20px;
    opacity:1;
    transition: all 1s;
}

.picFrame{
    background: black;
    justify-content: center;
    align-items: center;
    width: 0;
    object-fit: contain;
    height: 0;
    display: flex;
    border-radius: 50%;
    margin: 0px;
    opacity: 0;
    cursor:pointer;
    transition: all 1s;
}

.avatarEditButton.active ~ .avatarlist > .picFrame{
    width: 80px;
    height: 80px;
    margin: 10px;
    opacity: 1;
    transition: all 1s;
}

.avatarPic{
    margin: 5px;
    width: 50px;  
    object-fit: contain;
    
}





/*------------------------- displaying in fd list -------------------------*/

.pending {
    color: gray;
}

.block {
    color: red;
}

/*------------------------- Profile CSS -------------------------*/

.profile {
    position: relative;
    animation-name: jump-in;
    animation-duration: 0.5s;
}

@keyframes jump-in {
    0% {top: 200px;}
    100% {top: 0px}
}

.personProfile{
    flex-wrap: wrap;
    border-bottom: 2px solid rgba(255,255,255,.10);
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 4px;
    overflow: hidden;
}
.profile-Container {
    box-shadow: 0 0 10px black;
    max-width: 135px;
    background: border-box black;
    border-radius: 50%;
    height: 200px;
    min-width: 200px;
    margin-left: 5px;
    margin-right: 7px;
    display: flex;
    justify-content: center;
}
.profilePic {
    max-width: 100%;
    height: auto;
    border-radius: 25%;
    object-fit: contain;
    align-self: center;
    max-height: 142px;
}
.profile-text{
    padding-left: 15px;
    margin: 8px 0;
    align-items: center;
    min-width: 309px;
}
.profile-info{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Syncopate', sans-serif;
    text-shadow: 0 0 5px black;
}
.profile-name{
    text-shadow: 3px 3px 5px black;
    color: #ddd7;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(200,200,200, 0.8);
    font-size: 45px;
    overflow-wrap: break-word;
    height: 57px;
}

/* .person-location{
    margin-left: 5px;
    font-size: 13px;
    font-weight: 100;
    overflow-wrap: break-word;
} */

.posts{
    width: 100%;
    background: transparent;
    padding: 16px 27px;
    border-bottom: 2px solid rgba(255,255,255,.10);
    max-height: 60vh;
}
.post-profilePic{
    background: black;

    box-shadow: 0 0 10px black;
    margin: 0 12px;
    min-width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 50%;
    overflow: hidden;
}
.post-text{
    display: flex;
    font-family: 'Syncopate', sans-serif;
    flex-direction: column;
}
.post-person-name{
    border-bottom: 1px solid rgba(200,200,200, 0.8);
    font-size: 27px;
    overflow-wrap: break-word;
    height: 35px;
}
.post-time{
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
}
.emoji{
    position: absolute;
    top: -20px;
    left: -25px;
    margin: 0 14px;
    width: 50px;
    border-radius: 50%;
    height: 50px;
}
.post-content{
    display: flex;
    padding: 3px;
    flex-direction: column;
    justify-content: center;
}
.audioWave{
    background: white;
    min-width: 450px;
    height: 100px;
    border-radius: 15px;
    box-shadow: inset 1px 0px 11px 0px #444;
    display:flex;
    justify-content: center;
    align-items: center;
}

.audioWave > audio {
    width: 400px
}

.LDC-button{
    margin-top: 7px;
    display: flex;
    justify-content: space-around;
}
.L-button, .D-button, .C-button{
    font-weight: 600;
    font-family: 'Syncopate', sans-serif;
    margin-top: 7px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    cursor: pointer;
    transition: all .4s;
}
.L-button i, .D-button i, .C-button i{
    padding: 0 6px;
}
.L-button:hover, .D-button:hover, .C-button:hover{
    text-shadow: 0 0 5px white;
    color: cyan;
    background-image: linear-gradient(90deg, transparent, black, transparent);
    box-shadow: 0 0 20px cyan;
    transition: all .4s;
}
.L-button{
    width: 95px;
}
.D-button{
    width: 130px
}
.C-button{
    width: 160px;
}
.six-buttons{
    margin-top: 15px;
}
.six-buttons div div {
    padding: 0 5px;
    border-radius: 7px;
    font-size: 15px;
    display:flex;
    align-items: center;
    margin: 6px 0;
    width: 0px;
    white-space: nowrap;
    transition: all .4s
}
.six-buttons div div i {
    padding: 0 5px;
    font-size: 15px;
}
.fa-minus, .fa-ban{
    color: red;
    text-shadow: 0 0 5px black;
    transition: all .4s
}
.reject:hover, .block:hover, .rmFrd:hover{
    width: 100%;
    background: linear-gradient(to right, #e00c 18%, transparent);
    color: white;
    text-shadow: 0 0 5px red;
    box-shadow: 0 0 13px red;
    transition: all .4s;
}
.fa-plus{
    color: cyan;
    text-shadow: 0 0 5px black;
}
.addFrd:hover, .accept:hover{
    width: 100%;
    background: linear-gradient(to right, #222, transparent);
    color: cyan;
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 13px cyan;
    transition: all .4s;
}
.addFrd:hover .fa-plus,
.accept:hover .fa-plus,
.reject:hover .fa-minus,
.rmFrd:hover .fa-minus,
.block:hover .fa-ban{
    transform: rotate(180deg);
    transition: .6s;
}
.reject:hover .fa-minus,
.rmFrd:hover .fa-minus,
.block:hover .fa-ban{
color: white;
}

.searchResult {
    display: flex;
    flex-wrap: wrap;
}


.interaction{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
}

.interaction > i {
    margin-top: auto;
    font-size: 20px;
    cursor: pointer;
} 

.interaction > div{
    font-weight: 600;
    font-family: 'Syncopate', sans-serif;
    margin-top: 7px;
    font-size: 16px;
}

.interaction > .green{
    color:green
}

.interaction > .red{
    color: red;
}



.icon {
    height: 100px;
    width: 100px;
    background-color:black;
    border-radius: 75px;
    margin: 0 15px;
}

#submit-button-container{
    display: flex;
    justify-content: flex-end;
    margin: 19px;
}

#submit-button-container > input{
    margin-right: 10px;
    border-radius: 5px;
    width: 100px;
    border: none;
    background: linear-gradient(to bottom, transparent, #444, transparent);
    color: #fff;
    transition: all .6s
}
#submit-button-container > input:hover{
    box-shadow: 0 5px 10px black;
    text-shadow: 0 0 5px cyan;
    color: greenyellow;
    transition: all .6s
}

.self-icon{
    height:50px;
    width: 50px;
    border-radius: 25px;
    margin:10px;
    background-color:black;
}

.comment-box > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-box > form > div{
    display: flex;
    align-items: center;
    margin: 19px;
}

.comment-box > form >div> textarea{
    border-radius: 27px;
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    font-family: 'Syncopate', sans-serif;
    font-size: 14px;
    height: 101px;
    width: 31vw;
    padding: 11px 12px;
    margin-left: 14px;
    height: 13vh;
    width: 31vw;
    box-shadow: inset 0px 0px 10px 0px black;
}

/*----------- HIDE COMMENT BOX ---------------*/

.comment-box-container{
    z-index: 6;
    display: flex;
    position: fixed;
    top: 13%;
    right: -3vw;
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
.comment-box-container.active{
    z-index: 6;
    display: flex;
    position: fixed;
    top: 13%;
    right: 25%;
    width: 2vw;
    opacity: 1;
    visibility: visible;
    transition: all .4s ease-in-out;
}
.comment-box {
    background-color: white;
    padding: 20px 12px;
    right: -75vw;
    top: 10vh;
    position: fixed;
    border-radius: 17px;
    box-shadow: 0 0 27px black, inset 0 0 10px 0 black;
    min-width: 45vw;
    height: 88vh;
    max-height: 88vh;
    padding: 37px 12px 0;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

.comment-box-container.active .comment-box{
    background-color: white;
    right: 53vh;
    position: fixed;
    opacity: 1;
    visibility: visible;
    /* transform: rotateY(360deg); */
    transition: all .4s;
}
.fa-times-circle{
    box-shadow: inset 0 0 0 5px white, -2px 1px 7px black;
    position: absolute;
    top: -5vh;
    right: -27vw;
    font-size: 36px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    color: white;
    transition: all .4s;
}

.comment-box-container.active .fa-times-circle {
    top: -10px;
    right: -5px;
    opacity: 1;
    visibility: visible;
    transition: all .63s;
}
.fa-times-circle:hover{
    box-shadow: inset 0 0 0 18px crimson, 0 0 15px 2px white;
    /* transform: rotate(360deg); */
    color: black;
    transition: all .63s;
}
/* ------- ----------------------------------------- */


#commentInput::placeholder {
    font-family: 'Syncopate', sans-serif;
    color:#9997; 
}

#close-comment-box{
    display: flex;
    z-index: 1;
    position: absolute;
    right: -10px;
    top: 0px;
    align-items: center;
}

#friendList-close{
    display: none
}


#response-container{
    display: block;
    overflow: scroll;
    height: 37.5vh;
}


#response-container> div{
    display:flex;
    margin-bottom: 5px;
    align-items: center;
}

.response-icon{
    background-color: black;
    width: 50px;
    height:50px;
    border-radius: 25px;
    margin:10px;
}

.response-text{
    max-width: 426px;
    min-width: 66px;
    padding: 4px 15px;
    margin-left: 15px;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: inset 0 0 8px black;
    font-size: 13px;
    line-height: 22px;
    min-height: 39px;
    max-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: anywhere;
}

#recorder{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.response-name{
    width: 50px;
}

/*------------------------- End of Profile CSS -------------------------*/
/* End of Profile CSS */

/* ------------ MOBILE RESPONSIVE ----------- */

@media screen and (max-width:992px){
    body{
        width: 100vw;
        height: 100vh;
        animation: gradient-mobile 15s ease infinite;
    }

    #friendList-close{
        display: block
    }


    @keyframes gradient-mobile {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 52% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    .container{
        min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .topBarOut{
        display:none;
    }
    .buttonList, .topRight{
        display:none;
        opacity:0;
    }
    .mobile-topBar{
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 5;
        min-height: 100px;
        position: fixed;
        width: 100%;
        color: white;
        padding: 8px;
        height: fit-content;

        align-items: center;
        /* border: black solid 1px; */
        background: transparent;
        border-bottom: 2px solid rgba(255,255,255,.10) /* background: linear-gradient(to bottom, black 0, rgb(129, 127, 127) 50%, black 100%); */;
    }
     .mobile-hole{
        position: absolute;
        top: 13px;
        opacity: 0.6;
        height: 70px;
        width: 70px;
        background: border-box;
        border-radius: 50%;
        /* background-image: radial-gradient(circle at center, black 0%, #444 38%, white 39%, transparent 54%); */
        /* box-shadow: 12px 0px 25px; */
        animation: holeFadeIn 8s infinite;
    }

    .mobile-topLeft{
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .mobile-logo{
        top: 35px;
        position: fixed;
        font-family: 'Syncopate', sans-serif;
        font-weight: 900;
        font-size: 19px;
        text-shadow: 0 0 6px cyan;
        color: white;
        /* font-family: 'Varela Round', sans-serif; */
        z-index: 2;
        animation: mist 6s;
        transition: all .6s;
    }    
    .navbar-fixed{
        top: 0;
        left:0;
        position: fixed;
        width: 100%;
    }
    .mobile-topBar.active{
        background: #111111;
        box-shadow: 0 0 15px 3px black;
        position: fixed;
        animation: flip .75s;
        transition: all .75s;
        opacity: 1;
        transition: all 2s;
        /* animation: extend 2s; */
    }
    .mobile-topBar.active .buttonList{
        display: flex;
        justify-content: space-evenly;
        padding-top: 90px;
        animation: fadeIn 2.5s;
        opacity: 1;
    }
    .fas.fa-sign-in-alt.button{
        font-size: 19px;
    }
    .mobile-topBar.active .topRight{
        display:flex;
        padding: 0;
        animation: fadeIn 2.5s;
        opacity: 1;
    }

    .quotes {
        align-self:center;
        padding-top: 40vh;
        font-family: 'Alex Brush', cursive;
        font-size: 42px;
        color: white;
        text-shadow: 0 0 6px white;
        display: flex;
        justify-content: center;
        margin: 10px 0;
        animation: fadeIn 3s ease;
    }
    .author {
        align-self:center;
        height: 40vh;
        display: flex;
        justify-content: flex-end;
        color: white;
        position: relative;
        font-size: 20px;
        right: 40px;
        animation: fadeIn 6s ease;
    }
    .carousel-item > img {
        max-width: 495px;
        height: auto;
    }
    .demonstration {
        height: 417px;
    }
    .form.active {
        height: 65%;
        width: 93%;
        opacity: 1;
        visibility: visible;
        top: 18%;
        position: fixed;
        transition: all 0.6s;
        box-shadow: inset 0px 0 10px black;
    }

 .friendList, .empty{
     display:none;
 }

    /* .mobile-topBar.active .buttonList, 
    .mobile-topBar.active .topRight{
        display:flex;
    } */
    .person-name, .person-location, .person-email, .person-password {
        font-size: 15px;
    }
    .person-name.active, .person-location.active, 
.person-email.active, .person-password.active{
    width: 85vw;
}


    
    .buttonList{
        min-width: 100%;
        padding: 0px 15px;
        align-items: center;
    }
    .button{
        text-align: center;
    padding: 8px;
    font-size: 14px;
    }
    .author{
        height: 25vh;
    }
    .search-bar{
        margin: 15px 0 60px;
    }
    #search-bar{
        display:flex;
        justify-content:center;
    }

    input:focus {
        width: 260px;
        opacity: 1;
        cursor: text;
        transition: all 1s
    }
    input:focus ~ .search {
        right: -0;
        background: #151515;
        z-index: 5;
    }

    #search-background{
        padding: 5px;
        margin: 0;
    }
    .posts-profile > div {
        padding: 0;
    }
    .pageBanner {
        width: 100vw;
        height: 100vh;
        min-width: 100%;
        left:0;
        min-height: 182vh;
        /* height: fit-content; */
        width: 100%;
        position: fixed;
        /* height: 100vh; */
        background: url(../css/images/forest2.jpg) no-repeat center center / cover;
        background-attachment: fixed;
        opacity: 0.45;
        top: 0;
    }
    .container2{
        max-width: 100vw;
        /* width: 100vw; */
        height: 100vh;
        top: 17vh;
        /* height: 100vh; */
        width: 105%;
        /* justify-content: center; */
        margin: 0;
        padding: 0;
        flex-wrap: unset;
        /* display: flex; */
    }
    .saveButton{
        width: 155px;
        height: 40px;
    }
    .mobile-friendButton{
        z-index: 1;
        display: block;
        position: fixed;
        border-radius: 10px;
        left: 0;
        top: 28vh;
        width: 50px;
        height: 50px;
        color: #666;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 17px black, inset 0 0 6px 1px black;
        font-size: 25px;
        cursor:pointer;
        transition: all .8s;
    
    }
    .mobile-friendButton:hover{
        box-shadow: 0 0 17px 6px  white, inset 0 0 0 23px #666;
        /* transform: rotate(360deg); */
        background: #666;
        border-radius: 50%;
        color:cyan;
        transition: all .8s;
    }
    .mobile-friendButton.active{
        margin-left: 183vw;
        transition: all .8s;
    }
    .mobile-friendButton.active ~ .friendList .fa-times{
        display: block;
    }
    
    .friendList .fa-times{
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        color: white;
    }
    
    .friendList .fa-times:hover{
        text-shadow: 0 0 8px white;
    }

    .posts-profile{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .testing > div > div > div > audio {
        max-width: 100%;
    }
    .recordArea {
        flex-direction: row;
        align-self: center;
        /* width: 100vh; */
        border-radius: 50px;
        padding: 18px;
        margin: 20px 10px;
        display: flex;
        min-width: 90vw;
        max-width: fit-content;
        width: fit-content;
        /* background: #848484; */
        background: #4207;
        /* background: #3837; */
        box-shadow: inset 0 0 8px 0 black;
        transition: all 1s;
    }
    .icon-space {
        padding: 0
    }
    #recorder {
        max-width: 70vw;
        padding: 0;
        width: 52vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .editButton{
        font-size:  20px;
    }
    .person-info{
        padding: 0;
        padding-left: unset;
    }
    .testing{
        flex-direction: column;
        max-width: 100%;
        min-width: 100%;
        margin-left: -5px;
    }
    .testing > div > div {
        max-width: 100%;
    }
    .DLPSBtn > a {
        margin: 5px 5px;
    }
    .emojiEditButton.active ~ .emojilist {
        width: 366px;
        height: 194px;
        left: -38vh;
    }
    .emojiEditButton.active ~ .emojilist > .picFrame {
        width: 60px;
        height: 60px;
        margin: 13px;
    }
    .emojiPic {
        width: 60px;
    }

    .post-padding{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left:unset;
    }
    .audiowave{
        min-width: 410px;
    }
    .post-content{
        max-width: 100%;
    }
    .recordArea{
        min-width: 112vw;
        max-width: 130vw;
        transition: all .6s;
    }
    .content{
        max-width:100vw;
        min-height: 100%;
        min-width: 100%;
        /* top: 0; */
        /* min-height: 85vh; */
        margin: 0;
        /* display: flex;
        flex-direction: column; */
        width: 100%;
        height: fit-content;
        padding: 0;
        /* align-items: flex-start; */
    }
    .row.haha{
        width:100vw;
        min-width:100%;
        height: 69vh;
        align-items:center;
    }
    .person{
        justify-content: center;
        max-width: 100vw;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
        padding: 30px 0px;
    }
    .picContainer{
        align-self: center;
    }
    #person-contact{
        padding-left: 40px;
    /* top: 0; */
        /* margin-top: 24vh; */
        display: flex;
        flex-direction: column;
        height: 29vh;
        flex-wrap: inherit;
    }
    .person-text{
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        padding-top: 50vh;
        max-width: 90vw;
        padding: 0;
        height: fit-content;
        min-width: 100%;
    }
    .editContent{
        flex-direction: column;
    justify-content: flex-start;
    }
    #style-contact{
        display: flex;
    flex-direction: column;
        justify-content: inherit;
    }
    .icon-space {
        max-width: 95px;
    }
    .post-inner-content{
        padding-left: 5vh;
    }
    .avatarlist{
        top: 5vh;
        left: 3vw;
    }
    
    .avatarEditButton.active ~ .avatarlist {
        width: 267px;
        height: 338px;
        top: 5vh;
        left: 3vw;
    }
    .avatarEditButton.active ~ .avatarlist > .picFrame {
        width: 60px;
        height: 60px;
    }
    .avatarlist .picFrame .avatarPic{
        width: 35px
    }

    .mobile-friendButton ~ .friendList{
        z-index: 2;
        min-width: 100vw;
        background: linear-gradient(0deg, #222, #df7f31ee);
        top: 17vh;
        left: -184vw;
        /* visibility: hidden; */
        display: flex;
        /* opacity: 0; */
        padding: 0;
        width: 100%;
        border-right: 2px solid rgba(255,255,255,.10);
        box-shadow: 0 0 13px 4px black, inset 0 0 28px 0 black;
        color: white;
        min-height: 100%;
        max-height: fit-content;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        position: fixed;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        transition: all .8s;
    }
    .mobile-friendButton.active ~ .friendList{
        /* visibility: visible; */
        left:0;
        /* opacity: 1; */
        transition: all .8s;
    }
    .saveButton.active{
        top: 0;
    right: 0;
    margin: 0;
    font-size: 13px;
    width: 150px;
    }
}

/* ------- END OF MOBILE RESPONSIVE ------ */

