body{
    width: 99.9%;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(-31deg, #33260f, #1e5034, #df7f31, #bd2571) repeat;
    background-size: 350% 200%;
    height: 1px;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 95% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container{
    min-width: 100%;
    min-height:100%;
 }
 
.mobile-topBar{
    z-index: 6;
    display: none;
}

.topBarOut{
    display: flex;
    justify-content: center;
}
.topBar{
    z-index:5;
    min-height: 100px;
    position: absolute;
    width: 100%;
    color: white;
    padding: 8px;
    height: fit-content;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border: black solid 1px; */
    background: transparent;
    border-bottom: 2px solid rgba(255,255,255,.10)
    /* background: linear-gradient(to bottom, black 0, rgb(129, 127, 127) 50%, black 100%); */
}
.topBar.flip{
    background: #111111;
    box-shadow: 0 0 15px 3px black;
    position: fixed;
    animation: flip .75s;
    transition: all .75s;
    opacity: 1;
}
.topBar.flip .buttonList .button:hover,
.topBar.flip .topRight .button:hover{
    color: rgb(20, 220, 210);
    text-shadow: 0 0 25px rgb(20, 220, 210)
}


@keyframes flip{
    0%{
        transform: perspective(3px) rotate3d(1,0,0,90deg);
        animation-timing-function: ease-in;
        background: transparent;
        opacity:0.3;
    }
    40%{
        transform: perspective(100px) rotate3d(1,0,0,-90deg);
    }
    60%{
        transform: perspective(200px) rotate3d(1,0,0,25deg);
        opacity: 0.6;
        background: transparent;
    }
    80%{
        transform: perspective(300px) rotate3d(1,0,0,-5deg);
        
    }
    100%{
        transform: perspective(400px);
        background: black;
        opacity: 1;
    }
}

.pageBanner{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    min-height: 132vh;
    background: url(../css/images/forest1.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    opacity: 0.5;
}
.hole{
    position: absolute;
    top:-20px;
    opacity: 0.6;
    height: 70px;
    width: 70px;
    background: border-box;
    border-radius: 50%;
    animation: holeFadeIn 8s infinite;
}

@keyframes holeFadeIn{
    0%{
        opacity:0;
        box-shadow: 0px 0px 0px darkcyan;
    }
    20%{
        opacity:0.6;
        box-shadow: 12px 0px 25px cyan;
    }
    70%{
        opacity:0.6;
        box-shadow: 12px 0px 25px cyan;
    }
    100%{
        opacity:0;
        box-shadow: 0px 0px 0px cyan;
    }
}


.topLeft{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.logo{
    font-size: 22px;
    text-shadow: 0 0 25px cyan;
    color: white;
    font-family: 'Varela Round', sans-serif;
    z-index: 2;
    animation: mist 6s;
    transition: all .6s
}

@keyframes mist{
    0%{
        opacity:0;
        color: transparent;
        text-shadow: 0 0 14px white;
    }
    15%{
        opacity: 1;
        text-shadow: 0 0 10px white;
        color: transparent;
    }

    95%{
        text-shadow: 0 0 1px white;
    }
    100%{
        text-shadow: 0 0 25px cyan;
        color: white;
    }
}
.fas{
    align-self: center;
    font-size: 25px;
}

.topRight{
    display: flex;
    justify-content: space-evenly;
    padding-left: 80px;
}
.buttonList{
    display: flex;
    justify-content: space-evenly;
}
.button:hover {
    color: black;
    text-shadow: 0 0 25px white;
    transition: all .5s;
    cursor: pointer;
}


/* --------------- FORM ----------------------------*/

.form-container{
    display: flex;
    justify-content: center;
}
.google {
    display: block;
    width: 80px;
    margin: 20px auto;
    box-shadow: 0 5px 10px -7px #333333;
    border-radius: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 0;
    height:0;
    padding: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px -3px #333;
    text-align: center;
    visibility: hidden;
    position: fixed;
    top: -30%;
    opacity:0;
    transition: all 0.6s;
  }
  .form.active{
    height: 510px;
    width: 500px;
    opacity:1;
    visibility: visible;
    
    top:18%;
    position: fixed;
    transition: all 0.6s;
    box-shadow: inset 0px 0 10px black;
}


  .form > .formLogo, .formHole, .username, .email, .password, .createAccount, .returnToLogin{
    display: none;
    height: 0;
    width: 0;
    opacity:0;
}
  .form.active > .formLogo, .formHole, .username, .email, .password, .createAccount, .returnToLogin{
      display: unset;
      height: unset;
      width: unset;
      opacity: 1;
  }
  .email, .password, .username {
    border-radius: 100px;
    padding: 10px 15px;
    width: 50%;
    border: 1px solid #D9D9D9;
    outline: none;
    display: block;
    margin-top: 15px;
    transition: all 0.6s
  }

.googleLogin {
    border-radius: 100px;
    border: none;
    background: #719BE6;
    width: 50%;
    min-height: 46px;
    
    text-align: center;
    color: #FFFFFF;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px #719BE6;
    display: block;
    margin: 20px 0 0 0;
  }
  
  a {
    text-align: center;
    /* margin-top: 30px; */
    color: #719BE6;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
  }
  
  a:hover {
    text-decoration: underline;
  }

/* ---------------END OF FORM ----------------------------*/

.button{
    padding: 3px;
}
.quoteContainer{
    /* background-color: #f00; */
    width:100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quotes{
    padding-top: 40vh;
    font-family: 'Alex Brush', cursive;
    font-size: 42px;
    color: white;
    text-shadow: 0 0 6px white;
    display:flex;
    justify-content:center;
    margin: 10px 0;
    animation: fadeIn 3s ease;
}
.author{
    /* background-color: #f00; */
    padding-right: 25%;
    height: 40vh;
    width:100vw;
    display: flex;
    justify-content:flex-end;
    color: white;
    font-size: 20px;
    animation: fadeIn 6s ease;
}
@keyframes fadeIn{
    0%{
        opacity:0
    }
    50%{
        opacity:0;
        text-shadow: 0 0 19px white;
    }
    100%{
        opacity:1;
        text-shadow: 0 0 6px white;
    }
}
.invisibleBg.active{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}
.formHole{
    position: absolute;
    top: 8%;
    opacity: 0.6;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    animation: FormholeFadeIn 6s infinite;
}
.formLogo{

    position: absolute;
    top: 12%;
    font-size: 22px;
    color: white;
    text-shadow: 0 0 5px black;
    font-family: 'Varela Round', sans-serif;
    z-index: 2;
}
@keyframes FormholeFadeIn{
    0%{
        opacity: 0;
        box-shadow: 0px 0px 0px white;
    }
    35%{
        opacity:0.6;
        box-shadow: 12px 0px 13px black;
    }
    100%{
        opacity:0;
        box-shadow: 0px 0px 0px black;
    }
}
input{
    width:50%;
    transition: all 0.6s
}
input:focus {
    width: 60%;
    opacity: 1;
    cursor: text;
    transition: all 0.6s
}
.createAccount{
    cursor: pointer;
}
.returnToLogin{
    margin-top: 21px;
    cursor: pointer;;
}

.demonstration {
    background: linear-gradient(to right, transparent , #ddd , transparent);
    top: 5vh;
    width: 100%;
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item > img{
    max-height: 445px;
    width: auto;
}


.empty{
    background: transparent;
    width: 100%;
    height: 43px;
    top:6vh;
}

@media screen and (max-width:992px){
    body{
        max-width:100vw;
        animation: gradient-mobile 15s ease infinite;
    }
    @keyframes gradient-mobile {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 85% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    .buttonList{
        min-width: 100%;
        padding: 90px 11px 0;
        align-items: center;
    }
    .button{
        text-align: center;
        padding: 8px;
        font-size: 12px;
    }

    .container{
        min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    }
    .topBarOut{
        display:none;
    }
    .buttonList, .topRight{
        display:none;
        opacity:0;
    }
    .mobile-topBar{
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 6;
        min-height: 100px;
        position: fixed;
        width: 100%;
        color: white;
        padding: 8px;
        height: fit-content;

        align-items: center;
        background: transparent;
        border-bottom: 2px solid rgba(255,255,255,.10) /* background: linear-gradient(to bottom, black 0, rgb(129, 127, 127) 50%, black 100%); */;
    }
     .mobile-hole{
        position: absolute;
        top: 13px;
        opacity: 0.6;
        height: 70px;
        width: 70px;
        background: border-box;
        border-radius: 50%;
        animation: holeFadeIn 8s infinite;
    }

    .mobile-topLeft{
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .mobile-logo{
        top: 35px;
        position: fixed;
        font-family: 'Syncopate', sans-serif;
        font-weight: 900;
        font-size: 19px;
        text-shadow: 0 0 6px cyan;
        color: white;
        z-index: 2;
        animation: mist 6s;
        transition: all .6s;
    }    
    .navbar-fixed{
        top: 0;
        left:0;
        position: fixed;
        width: 100%;
    }
    .mobile-topBar.active{
        background: #111111;
        box-shadow: 0 0 15px 3px black;
        position: fixed;
        animation: flip .75s;
        transition: all .75s;
        opacity: 1;
        transition: all 2s;
    }
    .mobile-topBar.active .buttonList{
        display: flex;
        justify-content: space-evenly;
        padding-top: 90px;
        animation: fadeIn 2.5s;
        opacity: 1;
    }
    .fas.fa-sign-in-alt.button{
        font-size: 19px;
    }
    .mobile-topBar.active .topRight{
        display:flex;
        padding: 0;
        animation: fadeIn 2.5s;
        opacity: 1;
    }

    .quotes {
        align-self:center;
        padding-top: 40vh;
        font-family: 'Alex Brush', cursive;
        font-size: 28px;
        color: white;
        text-shadow: 0 0 6px white;
        display: flex;
        justify-content: center;
        margin: 10px 0;
        animation: fadeIn 3s ease;
    }
    .row{
        width:90%;
    }
    .author {
        padding: 0;
        align-self:center;
        height: 25vh;
        display: flex;
        justify-content: flex-end;
        color: white;
        position: relative;
        font-size: 20px;
        right: 40px;
        animation: fadeIn 6s ease;
    }

    .carousel-item > img {
        max-width: 100%;
        height: auto;
    }
    .demonstration {
        height:55vw;
        min-width:104%;
        padding: 0;
        height: 31vh;
        /* max-width: 100vw; */
    }
    #carousel{
        max-width: 100vw;
    }

    .form.active {
        z-index: 5;
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        width: 95%;
        top: 16%;
        opacity: 1;
        visibility: visible;
        position: fixed;
        transition: all 0.6s;
        box-shadow: inset 0px 0 10px black;
    }
    .formHole{
        position: absolute;
        top: 8%;
    }
    .form.active{
        padding: 20px;
        top: 16%;
    }
    .formEmpty{
        /* min-height: 110px; */
        /* max-height: 110px; */
        width:10px;
    }
    .formLogo{
        position: absolute;
        top:12%;
    }
    .form.active .createAccount{
        margin-bottom: 20px;
    }
    .search-bar{
        margin: 15px 0 60px;
    }
    #search-bar{
        display:flex;
        justify-content:center;
    }
    input:focus ~ .search {
        right: -0;
        background: #151515;
        z-index: 5;
    }
    #search-background{
        padding: 5px;
        margin: 0;
    }
}