.container{
    min-width: 100%;
    min-height:100vh;
    background: linear-gradient(-45deg, #078420, #396b57, #945a2b, #222222);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;    

 }

 #friendList-close{
    display: block
}
 
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 95% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#friendList-close{
    display: block
}


.topBar{
    position: fixed;;
    color: white;
    padding: 8px;
    height: fit-content;
    display:flex;
    justify-content: space-between;
    align-content: center;
    background: linear-gradient(to bottom, black 0, rgb(129, 127, 127) 50%, black 100%);
}

.topLeft{
    display: flex;
}
.fa-bars{
    align-self: center;
    font-size: 30px;
}
.secretWorld{
    padding-left: 30px;
}
.leftBar {
    margin-top: 46px;
    left: -52vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    min-height: 93vh;
    color: white;
    padding: 8px;
    justify-content: space-between;
    background: linear-gradient(to bottom, black 0, rgb(129, 127, 127) 50%, black 100%);
    opacity:0;
    transition: all 0.6s;
}
.leftBar.active{
    padding: 0;
    left:0;
    transition: all 0.6s;
    opacity: 1;
}
.buttonList{
    
    height:fit-content;
    cursor: pointer;
}
.buttonList div {
    
    border: solid 1px black;
}
.button{
    font-size: 20px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.button i{
    padding-right: 5px;
}
.button a{
    padding-left: 5px;
}
.button:hover {
    background: blue;
}
.buttonList div{
    padding: 3px;
}
.allFriends{
    display: none;
    transition: all 0.5s;
    padding-left: 10px;
}
.friends.active > .allFriends{
/* .friendList i::before:focus ~ .friendList2{ */
    display: block;
    transition: all 0.5s;
}

.friends.active > .fa-caret-right:before {
    content: "\f0d7";
    transition: all 0.5s;
}


